# <h1><center><span style="color:yellow">**Bismillahirrahmanirrahim**</span></center></h1>
# <h1><center><span style="color:white">Allahummayasir walatu'asir</span></center></h1>
# <center><span style='color:white'>**TUGAS 7**</span></center>

In [1]:
# Persiapan membuat data
import pandas as pd
import random

pelajaran = ['Matematika', 'Fisika', 'Biologi', 'Kimia', 'Geologi', 'Ekonomi']
kelas = ['12A', '12B', '12C', '12D']

hasil_nilai = {
    'siswa_id' : range(1, 21),
    'pelajaran' : [random.choice(pelajaran) for i in range(20)],
    'nilai' : [random.choice(range(0, 100)) for i in range(20)],
    'jenis-kelamin' : [random.choice(['laki-laki', 'perempuan']) for i in range(20)],
    'kelas' : [random.choice(kelas) for i in range(20)]
}

df = pd.DataFrame(hasil_nilai)
df.head()

   siswa_id   pelajaran  nilai jenis-kelamin kelas
0         1  Matematika     66     laki-laki   12A
1         2     Biologi     88     laki-laki   12C
2         3       Kimia     69     perempuan   12B
3         4     Biologi     88     perempuan   12C
4         5       Kimia     35     perempuan   12C

<h2>Soal 1: Indexing</h2>

1. Lakukan indexing terhadap dataframe untuk mengakses column nilai dan kelas saja
2. Lakukan indexing terhadap dataframe untuk mengakses row 5 sampai 10 beserta column pelajaran dan nilai

In [3]:
# code here
# 1.
df.loc[:,['nilai','kelas']]
display(df[['nilai','kelas']])

# 2.
df.iloc[4:10,1:3]

    nilai kelas
0      66   12A
1      88   12C
2      69   12B
3      88   12C
4      35   12C
5      30   12C
6      45   12D
7      40   12C
8      47   12B
9      56   12A
10     59   12B
11     33   12C
12     71   12D
13     81   12D
14     20   12C
15     77   12B
16     86   12A
17     51   12D
18     35   12B
19     21   12B

    pelajaran  nilai
4       Kimia     35
5  Matematika     30
6     Biologi     45
7     Biologi     40
8       Kimia     47
9       Kimia     56

<h2>Soal 2: Filter DataFrame Dengan Boolean</h2>

1. Tampilkan semua data siswa pada mata pelajaran Ekonomi dan Fisika
2. Tampilkan semua data siswa yang mempunyai nilai lebih dari 50 di mata pelajaran Kimia 
3. Tampilkan semua data yang mempunyai nilai lebih dari 70, berjnis kelamin perempuan dan di kelas 12C

In [18]:
# code here
# 1.
mata_pelajaran_ekonomi = df.pelajaran == 'Ekonomi'
mata_pelajaran_fisika = df.pelajaran == 'Fisika'

# print(df[(mata_pelajaran_ekonomi) | (mata_pelajaran_fisika)])
print(df[(df.pelajaran == 'Kimia') | (df.pelajaran == 'Fisika')])

# 2.
mata_pelajaran_kimia = df.pelajaran == 'Kimia'
nilai_mata_pelajaraan_lebih_dari_50 = df.nilai > 50

# print(df[(mata_pelajaran_kimia) & (nilai_mata_pelajaraan_lebih_dari_50)])
print(df[(df.pelajaran == 'Kimia') & (df.nilai > 50)])

# 3.
nilai_mata_pelajaran_lebih_dari_70 = df.nilai > 70
jenis_kelamin_perempuan = df["jenis-kelamin"] == 'perempuan'
kelas_siswa = df.kelas == '12C'

# print(df[(nilai_mata_pelajaran_lebih_dari_70) & (jenis_kelamin_perempuan) & (kelas_siswa)])
print(df[(df.nilai > 70) & (df["jenis-kelamin"] == 'perempuan') & (df.kelas == '12C')])

    siswa_id pelajaran  nilai jenis-kelamin kelas
0          1     Kimia     38     laki-laki   12C
3          4     Kimia     62     laki-laki   12C
4          5    Fisika     23     laki-laki   12B
7          8    Fisika     74     perempuan   12D
8          9     Kimia     69     perempuan   12C
10        11     Kimia     58     laki-laki   12D
11        12    Fisika     96     laki-laki   12D
19        20     Kimia     81     laki-laki   12A
    siswa_id pelajaran  nilai jenis-kelamin kelas
3          4     Kimia     62     laki-laki   12C
8          9     Kimia     69     perempuan   12C
10        11     Kimia     58     laki-laki   12D
19        20     Kimia     81     laki-laki   12A
    siswa_id pelajaran  nilai jenis-kelamin kelas
13        14   Biologi     90     perempuan   12C

<h2>Soal 3: Data Transformation</h2>

lakukan data transformasi terhadap column 'nilai' dengan fungsi transformasi, berikut rumus dari normalisasi

![alt text](https://drive.google.com/uc?id=1wed-EbRSTA0JP1ceDp6lcKBqH2yJ4aa3)

In [12]:
# code here
def normalize_transformation(x):
    return (x - x.min()) / (x.max() - x.min())
    
nilai_hasil_transformasi = normalize_transformation(df.nilai)
print(nilai_hasil_transformasi)
print(df[['nilai']].apply(normalize_transformation))

0     0.309524
1     0.821429
2     0.654762
3     0.595238
4     0.130952
5     0.142857
6     0.952381
7     0.738095
8     0.678571
9     0.595238
10    0.547619
11    1.000000
12    0.273810
13    0.928571
14    0.821429
15    0.000000
16    0.107143
17    0.619048
18    0.357143
19    0.821429
Name: nilai, dtype: float64
       nilai
0   0.309524
1   0.821429
2   0.654762
3   0.595238
4   0.130952
5   0.142857
6   0.952381
7   0.738095
8   0.678571
9   0.595238
10  0.547619
11  1.000000
12  0.273810
13  0.928571
14  0.821429
15  0.000000
16  0.107143
17  0.619048
18  0.357143
19  0.821429